<web-app>
    <display-name>tip4day</display-name>
    <welcome-file-list>
        <welcome-file>src/main/webapp/jsp/hello.jsp</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>org.exoplatform.container.web.PortalContainerConfigOwner</listener-class>
    </listener>
</web-app>