#tip {
    margin: 10px 25px;
    font-style: italic;
}

textarea {
    width: 80%;
    height: 70px;
    resize: none;
}

#btnblock {
    display: flex;
    justify-content: left;
    margin: 25px;
}

#addNewTipButton {
    margin: 0 25px;
}